{% extends 'contacts/base_first.html' %}

{% block title %}
<h3>Who we are</h3>

{% endblock title %}

{% block content %}

<p>Accelerating trial efficiency, advancing the pace of discovery</p>

<div>
  Contact us:
  <ul>
    <li><a href="mailto:andy@ienrolldigital.com">Andrew D. McWilliams</a>, MD, MPH, Chief Medical Officer
    <li><a href="mailto:freddie@ienrolldigital.com">Freddie Sexton</a>, BS, Chief Marketing Officer
    <li><a href="mailto:christina@ienrolldigital.com">Christina P. McWilliams</a>, Director of Operations
    <li><a href="mailto:dave@ienrolldigital.com">David R. McWilliams</a>, PhD., VP Data Operations
  </ul>
</div>

{% endblock content %}
